@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* The "Tech Grid" Effect */
  background-image:
    linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  background-size: 50px 50px;
  /* Darken the grid so it's subtle */
  background-blend-mode: overlay;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.01),
      rgba(0, 0, 255, 0.02)
    );
  z-index: 100;
  background-size:
    100% 4px,
    3px 100%;
  pointer-events: none;
  opacity: 0.3;
}
